page-finishorderlist {
    .headbar{
        .t-s-date{
            background: #f8f8f8;
            .item{
                width:48%;
                display: inline-block;
                min-height:0px !important;
                font-size: 12px;
                background: #f8f8f8;
                .label{
                    margin: 8px 8px 11px 0 !important;
                }
            }
        }
        .bar-button-md{
            width:30px;
            min-width: 0px;
            
        }
        .searchbar-md{
            background: #f8f8f8;
            .searchbar-input-container{
                background: #f8f8f8;
                .searchbar-input{
                    box-shadow: none !important;
                    background: #fff;
                }
            }
        }
    }
    .al-searchtoolbar{
        background: #fff;
        .searchbar-input{

        }
    }
    .card-item{
        .card-header{
            padding:5px;
            background: #f3f5f7;
            font-size: 12px;
            position: relative;
            .rt{
                position: absolute;
                right:10px;
                top: 3px;
                font-size: 14px;
                color: #f3f5f7;
            }
        }
        .card-content{
            padding:5px;
            text-align: left;
            padding-left:10px;
           min-height: 30px;
           display: flex;
           flex-direction:row;
           justify-content:left;
           align-items:center;
           position: relative;
           font-size: 14px;
           font-weight: 700;
           .rt{
                   position: absolute;
                   right: 10px;
                   top: 7%;
                   font-size: 28px;
                   color: #f3f5f7;
           }
        }
        .card-btm{
            height:26px;
            width:100%;
            background: #f3f5f7;
            text-align: right;
            .con{
                float: right;
                line-height: 26px;
                padding-left: 5px;
            }
        }
    }
}
