page-preorder {
    .pagecontent{
         background: #f3f5f7;
         .top-tit-order{
             .card-content{
                 text-align: center;
                .price{
                    font-style:normal; 
                    color:red;
                }
             }
         }
         .btm-nav{
             margin: 0px 11px;
         }
    }
   
}
