page-preorder {
    .bar-buttons-md{
        position: absolute;
    }
    .pagecontent{
         background: #f3f5f7;
         .top-tit-order{
             .card-content{
                 text-align: center;
                .price{
                    font-style:normal; 
                    color:#f53d3d;
                }
             }
         }
         .btm-nav{
             margin: 0px 11px;
         }
    }
    .top-title{
        .t-num{
            font-style: normal;
            color:#f53d3d;
        }
        .tcount{
            margin-right: 30px;
            .t-num{
                margin-left: 5px;
            }
        }
        .tmoney{
            .t-num{
                margin-left: 5px;
            }
        }
    }
   
}
