<ion-header>
  <ion-navbar>
    <span class="top-title">
      订单详情
    </span>
  </ion-navbar>
</ion-header>
<ion-content >
  <div class="hd-list-item hd-list-item-lt" *ngIf="OrderState == 6">
    <span class="tit-desc">总项数:{{DataList.length}}&nbsp;&nbsp;&nbsp;总数量:{{TotalQuantity}}&nbsp;&nbsp;&nbsp;总金额:{{TotalMoney}}元</span> 
    <span class="g-all"  (click)="AllPro()"><i class="txt">全部收货</i></span>
  </div>
  <div class="hd-list-item" *ngIf="OrderState == 5">
      总项数:{{DataList.length}}&nbsp;&nbsp;&nbsp;总数量:{{TotalQuantity}}&nbsp;&nbsp;&nbsp;总金额:{{TotalMoney}}元
  </div>
  <div>
  <ion-list *ngFor="let item of DataList" class="list-item">
      <ion-item >
          <h2 style="margin:0px;">{{item.pro.mtname}}</h2>
          <p ><i class="frt">{{item.pro.spec}}</i></p>
          <p></p>
          <p class="tp"><span class="price">{{item.sendprice}}</span>元/{{item.pro.stockunit}}<i class="frt">保质期{{item.pro.validdate}}个月</i></p>
          <ion-thumbnail item-start>
             <span class="retinab">
              <img  src="{{item.imgpath}}">
             </span>
          </ion-thumbnail>
        <div class="dc">￥<span class="price">{{item.sendprice}}</span>
        </div>
      </ion-item>
      <ion-item class="btn-nav" (click)="ItemClick(item)" *ngIf="OrderState == 5">
        <span >下单:{{item.quantity}}{{item.pro.storeunit}}</span>&nbsp;,&nbsp;<span>签收{{item.sendquantity}}{{item.pro.storeunit}}</span><span class="icon-edit"><ion-icon name="create"></ion-icon></span>
      </ion-item>
      <ion-item class="btn-nav"  *ngIf="OrderState == 6">
        <span >下单:{{item.quantity}}{{item.pro.storeunit}}</span>&nbsp;,&nbsp;<span>已签收{{item.sendquantity}}{{item.pro.storeunit}}</span>&nbsp;<span *ngIf="item.quantity - item.sendquantity !=0">,</span>&nbsp;<span *ngIf="item.quantity - item.sendquantity !=0" style="color:#f53d3d;margin-right:5px;">缺:{{item.quantity - item.sendquantity}}{{item.pro.storeunit}}</span>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
<ion-footer *ngIf="OrderState == 5" class="footer-nav">
  <div class="btm-nav">
    <span class="all" (click)="AllPro()">全部收货</span><span class="part" (click)="PartPro()">部分收货</span>
  </div>
</ion-footer>
