page-fixorder {
    .hd-list-item{
            text-align: center;
        height: 40px;
        line-height: 40px;
        background: #F53D3D;
        font-size: 14px;
        color: #FFF;
        text-align: center; 
        padding-left: 20px;
        .g-all{
            float: right;
            width:20%;
            background: #f3f5f7;
            .txt{
                margin-left: 5px;
                background: #F53D3D;
                width: 100%;
                height: 100%;
                font-style: normal;
                display: inline-block;
                text-align: center;
            }
        }
    }
    .hd-list-item-lt{
        text-align: left; 
    }
    .list-item{
        margin-bottom: 8px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        h2{
            font-size: 14px;
            font-weight: 800;
        }
        p{
            font-size: 11px;
            .price{
                color:#f53d3d;
            }
            .frt{
                padding: 0px 2px 0px 0px;
                float: right;
                font-style: normal;
                font-size: 12px;
            }
        }
        .tp{
            margin-bottom: 9px;
            font-size: 14px;
        }
        .label{
            margin: 10px 10px 5px 5px;
        }
        .item{
           .item-inner{
                border: none;
            }
        }
        &:first-child{
            //margin-top:10px;
        }
    }
     .btmnav{
        color:#000;
        height:25px;
        //float: right;
        font-size: 12px;
        text-align: right;
     }
     .btn-nav{
         min-height: 0px;
         height:30px;
         font-size: 14px;
         line-height: 30px;
         background-color: #FCF6AF;
         .input-wrapper{
            .label{
                margin: 0px;
                text-align: right;
                .icon-edit{
                    margin-left: 10px;
                }
            }   
         }
     }

     .footer-nav{
         .btm-nav{
             height: 42px;
            line-height: 42px;
            position: relative;
             .all{
                position: absolute;
                height:100%;
                width:40%;
                top:0px;
                left:0px;
                text-align: center;
                color:#fff;
                background: #F53D3D;
             }
             .part{
                position: absolute;
                height:100%;
                width:60%;
                top:0px;
                left:40%;
                text-align: center;
                color:#fff;
                background: #fdc52e
             }
             .all-part{
                position: absolute;
                height:100%;
                width:100%;
                top:0px;
                left:0px;
                text-align: center;
                color:#fff;
                background: #F53D3D;
             }
         }
     }
}
