<ion-header class="headbar">
  <ion-searchbar placeholder="请输入名称" [showCancelButton]="shouldShowCancel" class="searchtoolbar" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="mainpagecontent">
  <div class="fixed-content" style="margin-top: 64px; margin-bottom: 52px;"></div>
  <ion-scroll class="lefttype" scrollY="true">
    <div class="typeitem" (click)="TypeClick(item)" [ngClass]="{'active':item.active}" *ngFor="let item of ListType">{{item.clsname}}</div>
  </ion-scroll>
  <ion-scroll class="righttype" scrollY="true">
    <ion-list>
      <ion-item *ngFor="let item of DataList" class="list-item">
        <h2>{{item.mtname}}</h2>
        <p><span class="price">{{item.price}}</span>元/{{item.stockunit}}</p> 
        <ion-thumbnail item-start>
          <img src="{{item.imgpath}}">
        </ion-thumbnail>
        <div class="btmnav">
          <!--<span class="sub" (click)="ItemSubClick(item)">-</span><span class="num"><input type="text" [(ngModel)]="item.selnum" /></span> -->
          <span class="plus" (click)="ItemPlusClick($event,item)">+</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <div class="nav-cart" (click)="CartOrder()">
    <ion-icon name="cart" class="cart"></ion-icon>
    <span class="badge" *ngIf="SelDataList.length > 0">{{SelDataList.length}}</span>
  </div>
</ion-content>