page-home {
    .mainpagecontent{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: block;
        margin-top: 44px;
        margin-bottom: 44px;
        background: #F3F5F7;
        font-size: 0px;
        .con{
            position: absolute;
            bottom: 0px;
        }
        .lefttype{
            width:25%;
            height:100%;
            display: inline-block;
             font-size: 14px;
             .typeitem{
                 display: block;
                 border: #f6f6f6 solid 1px;
                 background: #fff;
                 text-align:center;
                 padding:8px 0px; 
             }
             .active{
                color:#D0021B;
                background:#F3F5F7; 
             }
        }
        .righttype{
            width:75%;
            height:100%;
            display: inline-block;
            font-size: 12px;
            .list-item{
                h2{
                    font-size: 14px;
                }
                p{
                    font-size: 11px;
                }
            }
            .btmnav{
                height:25px;
                font-size: 0px;
                float: right;
                span{
                    display: inline-block;
                    font-size: 16px;
                    vertical-align: top;
                    background: #f3f5f7;
                    line-height: 23px;
                }
                .plus,.sub{
                    padding:0px 15px;
                    margin: 0px 3px;
                }
                .num{
                    padding:0px 0px;
                    input{
                        width:30px;
                        height: 25px;
                        border-radius: 0px;
                        text-shadow: 0px;
                         border:1px solid #f3f5f7;
                        background: #fff;
                        padding:0px;
                        text-align: center;
                        //border:none;
                    }
                }
            }
        }
    }
    .headbar{
        background: #fff;
        .searchtoolbar{
            background: #fff;
            .searchbar-input{
                background: #f3f5f7;
            }
        }
    }
    
}
.tabbar{
    opacity: 1;
}


