#preLoadingNav {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    #preLoadingNav #preLoadingLogo img {
      position: absolute;
      width: 100%;
    }
    
    #preLoadingNav #preLoadingLogo {
      width: 100%;
      height: 100%;
    }
    
    .preLoadingNav #preLoadingText {
      padding: 5px;
      font-size: 13px;
      color: 666666;
    }
    
    .loadEffect {
      width: 50px;
      height: 50px;
      position: absolute;
      left:0;
      right:0;
      margin: 0 auto;
      top:50%;
    }
    
    .loadEffect span {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #09b166;
      position: absolute;
      -webkit-animation: load 1.04s ease infinite;
      animation: load 1.04s ease infinite;
      
    }
    
    @-webkit-keyframes load {
      0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);        
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(.3);
        transform: scale(.3);        
        opacity: 0.5;
      }
    }
    @keyframes load {
      0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);        
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(.3);
        transform: scale(.3);        
        opacity: 0.5;
      }
    }
    .loadEffect span:nth-child(1) {
      left: 0;
      top: 50%;
      margin-top: -3px;
      -webkit-animation-delay: 0.13s;
      animation-delay: 0.13s;
      
    }
    
    .loadEffect span:nth-child(2) {
      left: 7px;
      top: 7px;
      -webkit-animation-delay: 0.26s;
      animation-delay: 0.26s;
      
    }
    
    .loadEffect span:nth-child(3) {
      left: 50%;
      top: 0;
      margin-left: -3px;
      -webkit-animation-delay: 0.39s;
      animation-delay: 0.39s;
      
    }
    
    .loadEffect span:nth-child(4) {
      top: 7px;
      right: 7px;
      -webkit-animation-delay: 0.52s;
      animation-delay: 0.52s;
    }
    
    .loadEffect span:nth-child(5) {
      right: 0;
      top: 50%;
      margin-top: -3px;
      -webkit-animation-delay: 0.65s;
      animation-delay: 0.65s;
      
    }
    
    .loadEffect span:nth-child(6) {
      right: 7px;
      bottom: 7px;
      -webkit-animation-delay: 0.78s;
      animation-delay: 0.78s;
      
    }
    
    .loadEffect span:nth-child(7) {
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      -webkit-animation-delay: 0.91s;
      animation-delay: 0.91s;
      
    }
    
    .loadEffect span:nth-child(8) {
      bottom: 7px;
      left: 7px;
      -webkit-animation-delay: 1.04s;
      animation-delay: 1.04s;
      
    }