page-accounts {
    .nav-dsh{
        text-align: center;
        min-height: 25%;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background: #f3f3f4;

        .card-content{
            font-size: 16px;
            font-weight: 700;
            position: relative;
            span{
                position: absolute;
                display:inline-block;
                width:25px;
                height:25px;
                line-height:25px;
                border-radius: 100%;
                background: #f53d3d;
                color:#fff;
                top:0px;
                right:0px;
            }
        }
    }

    .bar-buttons-md{
        position: absolute;
    }
}
