<!--
  Generated template for the WaitpayorderdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <span class="top-title">
      订单详情
    </span>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="hd-list-item">总金额:{{TotalMoney}}元</div>
   <ion-list>
      <ion-item *ngFor="let item of DataList" class="list-item">
        <h2 style="margin:0px;">{{item.pro.mtname}}</h2>
        <p>{{item.pro.desc}}</p> 
        <ion-thumbnail item-start>
          <img src="{{item.imgpath}}">
        </ion-thumbnail>
        <div class="dc">￥<span class="price">{{item.sendprice}}</span>
          <div class="btmnav">
            下单:{{item.quantity}}{{item.pro.storeunit}}
          </div>
        </div>
        
      </ion-item>
    </ion-list>
</ion-content>
<!--<ion-footer *ngIf="OrderState == 3" class="nav-btm">
  <ion-toolbar>
    <ion-title class="surepay">确定支付</ion-title>
  </ion-toolbar>
</ion-footer>-->

<ion-footer *ngIf="OrderState == 3" class="footer-nav">
  <div class="btm-nav" (click)="PayMoney()">
    <span class="surepay">确定支付</span>
  </div>
</ion-footer>
