<ion-header>
  <ion-navbar>
    <span class="top-title">
      订单详情
    </span>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="hd-list-item">总项数:{{DataList.length}}&nbsp;&nbsp;&nbsp;总数量:{{TotalQuantity}}&nbsp;&nbsp;&nbsp;总金额:{{TotalMoney}}元</div>
   <ion-list>
      <ion-item *ngFor="let item of DataList" class="list-item">
        <h2 style="margin:0px;">{{item.pro.mtname}}</h2>
        <p ><i class="frt">{{item.pro.spec}}</i></p>
        <p></p>
        <p class="tp"><span class="price">{{item.sendprice}}</span>元/{{item.pro.stockunit}}<i class="frt">保质期{{item.pro.validdate}}个月</i></p>
        <ion-thumbnail item-start>
           <span class="retinab">
            <img  src="{{item.imgpath}}">
           </span>
        </ion-thumbnail>

        <div class="dc">￥<span class="price">{{item.sendprice * item.quantity}}</span>
          <div class="btmnav">
            下单:{{item.quantity}}{{item.pro.storeunit}}
          </div>
        </div>
        
        

      </ion-item>
    </ion-list>
</ion-content>
<!--<ion-footer *ngIf="OrderState == 3" class="nav-btm">
  <ion-toolbar>
    <ion-title class="surepay">确定支付</ion-title>
  </ion-toolbar>
</ion-footer>-->

<ion-footer *ngIf="OrderState == 3" class="footer-nav">
  <div class="btm-nav" (click)="PayMoney()">
    <span class="surepay">确定支付</span>
  </div>
</ion-footer>
